https://www.perplexity.ai/search/388f6b0d-09f1-4ae9-9c3b-5e5163037109

In [4]:
import numpy as np
import pandas as pd

df = pd.read_csv("world.csv",index_col="國家",usecols=["國家","日期","總確診數","新增死亡數"])
#讀取csv檔，並且指定欄跟列資料讀取的範圍。
mask = df.index == "台灣" #指定一個遮罩，用"台灣"篩選
taiwan = df[mask] 
taiwan

            日期     總確診數  新增死亡數
國家
台灣  2020-01-16        0      0
台灣  2020-01-17        0      0
台灣  2020-01-18        0      0
台灣  2020-01-19        0      0
台灣  2020-01-20        0      0
..         ...      ...    ...
台灣  2022-07-02  3837856     96
台灣  2022-07-03  3870528     88
台灣  2022-07-04  3893643     69
台灣  2022-07-05  3929627    103
台灣  2022-07-06  3964188     95

[903 rows x 3 columns]

In [3]:
taiwan[taiwan["新增死亡數"] >= 200]

            日期     總確診數  新增死亡數
國家
台灣  2022-06-05  2404871    276
台灣  2022-06-09  2693787    211
台灣  2022-06-10  2762080    213
台灣  2022-06-11  2841696    211

In [6]:
taiwan.to_csv("taiwan.csv", encoding = "utf-8", index=True)